.welcome-wrapper {

}

.welcome {

}

.scene {
	position: relative;
}

.welcome-progress-bar {
	height: 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #888888c0;
}

.welcome-progress-bar-fill {
	height: 100%;
	width: 100%;
	position: absolute;
	background: radial-gradient(
		circle,
		#e67a7a 0%, 
		#eb8f67 20%, 
		#c6d468 50%, 
		#5ed672 70%, 
		#5fbeed 100%
	);
	background-size: 200vw;
}